{% extends '@App/base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-offset-4 col-md-4 bg-success">
    <h1>Edycja ogłoszenia</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-bg btn-warning" ctype="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a class="btn btn-bg btn-info" href="{{ path('notice_index') }}">Powrót do listy ogłoszeń</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-bg btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
